@use "../abstracts" as *;

body {
  font-family: $font-stack;
  margin: 0 5rem;
  padding: 0;
  background: url("https://github.com/Albahdezs/proyecto-SPA/raw/main/img/beauty-woman.png"),
    linear-gradient(90deg, $bg-color 62%, $light-blue 62%);

  background-repeat: no-repeat;
  background-position: top right 50px, top right;
  background-size: 70%, 100%;
  z-index: 1;
}
